<app-navbar></app-navbar>

<div class="flex flex-col items-center justify-center   bg-gray-100 py-72">
    <h1 class="text-5xl md:text-6xl font-bold text-center text-blue-600 transition-transform transform hover:scale-105">
      Test for Web App Developers A2O Dev 2024
    </h1>
    <p class="mt-4 text-xl md:text-2xl text-gray-700 text-center animate-fadeIn">
        Press the buttons below or in the navbar to see the test problems.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row space-y-4 sm:space-y-0 sm:space-x-4">
      <a class="px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-500 transition duration-300 w-full sm:w-auto" href="http://localhost:4200/problem1">
        Problem 1
      </a>
      <a type="button" class="px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-500 transition duration-300 w-full sm:w-auto" href="http://localhost:4200/problem2">
        Problem 2
      </a>
    </div>
  </div>
  
<app-footer></app-footer>
  