<nav class="bg-white shadow p-4 rounded mb-4">
    <div class="container mx-auto flex justify-between items-center">
        <a href="http://localhost:4200" class="text-blue-500 font-bold text-3xl">
            Main Page
        </a>
        <div class="flex space-x-4 ml-4"> <!-- Añadido ml-4 -->
            <a href="http://localhost:4200/problem1" routerLinkActive="router-link-active"  class="text-gray-900 hover:text-blue-500 transition duration-200">Problem 1</a>
            <a href="http://localhost:4200/problem2" class="text-gray-900 hover:text-blue-500 transition duration-200">Problem 2</a>
        </div>
    </div>
</nav>